*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
vs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.nupkg
**/packages/*
!**/packages/build/
*.Publish.xml
*.azurePubxml
*.pubxml
*.publishproj
*.log
*.tmp
*.pdb
*.cachefile
