@model SimpleStore.Business.DTOs.UpdateProductDto

<h2>Update Product</h2>
<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <p>
        <label>Name:</label><br/>
        <input asp-for="Title"/><br/>
        <span asp-validation-for="Title"></span>
    </p>
    <p>
        <label>Description:</label><br/>
        <input asp-for="Description"/><br/>
        <span asp-validation-for="Description"></span>
    </p>
    <p>
        <label>Stock:</label><br/>
        <input asp-for="Stock"/><br/>
        <span asp-validation-for="Stock"></span>
    </p>
    <button type="submit">Save</button>
    <a asp-action="Index">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}